/* css-modules:css-modules://VlukPblsnN_tgi_GXgR4hzi8SEXib42YgZKmEKI8n2M.css */
.code-uJFBuW-editorFooter {
  min-height: calc(36 * var(--size-index, 1) * 1px);
  background: var(--header-bg);
  color: var(--text-main-color);
  border: 1px solid var(--header-border);
  border-top: none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  flex-flow: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 16px;
  display: flex;
}
.code-uJFBuW-switchButton {
  margin: 0 6px;
  display: flex;
}
.code-uJFBuW-squareButton {
  border-radius: 8px;
}

/* css-modules:css-modules://CZdz0iodsSaHlE9YwBGUqIAPHNDnb6EPpHYq4TL5KbY.css */
.code-jUbHda-instructionsContainer {
  min-height: 100px;
  color: var(--text-main-color);
  padding-bottom: 20px;
}
.code-jUbHda-instructionsContainer[data-isfullscreen="1"] {
  width: auto;
  height: calc(100% - 64px);
}
.code-jUbHda-instructionsContent {
  font-size: calc(var(--size-index, 1) * 16px);
  letter-spacing: 0;
  margin: 0;
  line-height: 1.5;
}
.code-jUbHda-instructionsContent[data-ismobile="1"] {
  max-height: 280px;
  overflow: auto;
}

/* css-modules:css-modules://tsG8hZlYs4MwK5sBcoRV2rjhW3dzTMd5ft6S3TmK0Xk.css */
@keyframes code-q_Z6VW-rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.code-q_Z6VW-animatedGearIcon {
  position: relative;
}
.code-q_Z6VW-animatedGearIcon .code-q_Z6VW-innerAnimationIcon {
  position: absolute;
}
.code-q_Z6VW-animatedGearIcon .code-q_Z6VW-innerAnimationIcon:first-child {
  width: 75%;
  height: 75%;
  top: 0%;
  left: 0;
}
.code-q_Z6VW-animatedGearIcon .code-q_Z6VW-innerAnimationIcon:last-child {
  width: 50%;
  height: 50%;
  bottom: 0%;
  right: 0;
}
.code-q_Z6VW-animatedGearIcon[data-isloading="1"] .code-q_Z6VW-innerAnimationIcon:first-child {
  animation: 2s linear infinite code-q_Z6VW-rotating;
}
.code-q_Z6VW-animatedGearIcon[data-isloading="1"] .code-q_Z6VW-innerAnimationIcon:last-child {
  animation: 1.5s linear infinite reverse code-q_Z6VW-rotating;
}
.code-q_Z6VW-innerAnimationIcon {
  width: 100%;
  height: 100%;
}

/* css-modules:css-modules://5on5eoZiZM5MJOi_FnEHK5AZMO-tv7Y1Gwp9NmQrF3s.css */
.code-kfBALW-consoleWrapper {
  border: 1px solid var(--header-border);
  height: calc(100% - var(--code-toggle-size));
  flex-direction: column;
  flex-grow: 1;
  width: calc(100% - 2px);
  min-height: 200px;
  overflow: auto;
}
.code-kfBALW-consoleWrapper[data-isvisible="1"] {
  display: flex;
}
.code-kfBALW-consoleWrapper[data-isvisible="0"] {
  display: none;
}
.code-kfBALW-output {
  word-break: break-word;
  flex-grow: 1;
  padding: 16px 10px;
  line-height: 22px;
  overflow-y: auto;
}
.code-kfBALW-output p {
  margin: 0;
  font-size: var(--code-font-size-multiplier) !important;
}

/* css-modules:css-modules://kKQs-z73VjjsuSe_gI7YB2LCAAFLx24zksQGZ0Q5w44.css */
.code-wmFEDa-consoleResultContainer {
  z-index: 6;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.code-wmFEDa-consoleResultContainer[data-ismobile="1"] {
  min-height: unset;
  position: absolute;
  right: 0;
}
.code-wmFEDa-consoleResultContainer[data-ismobile="0"] {
  width: auto;
  min-height: 100%;
  position: relative;
}
.code-wmFEDa-consoleResultContainer[data-ismobile="1"] {
  left: 0;
}
.code-wmFEDa-consoleResultContainer[data-isfullscreen="1"] {
  left: 0;
}
.code-wmFEDa-consoleResultContainer[data-ismobile="0"][data-isfullscreen="0"] {
  width: calc(100% + 1px);
  left: -1px;
}
.code-wmFEDa-consoleResultContainer[data-ismobile="0"] {
  display: flex;
}
.code-wmFEDa-consoleResultContainer[data-mobileresultopened="1"] {
  display: flex;
}
.code-wmFEDa-consoleResultContainer[data-ismobile="1"][data-mobileresultopened="0"] {
  display: none;
}
.code-wmFEDa-editorHeader {
  height: calc(36 * var(--size-index, 1) * 1px);
  background: var(--header-bg);
  color: var(--text-main-color);
  border: 1px solid var(--header-border);
  border-bottom: none;
  border-top-right-radius: 8px;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  display: flex;
}
.code-wmFEDa-editorHeader[data-ismobile="1"] {
  border-top-left-radius: 8px;
}
.code-wmFEDa-title {
  font-size: calc(var(--size-index, 1) * 16px);
  letter-spacing: 0;
  line-height: 1.25;
}
.code-wmFEDa-fillGap {
  flex: 1;
}
.code-wmFEDa-switchButton {
  margin: 0 6px;
  display: flex;
}
.code-wmFEDa-graph {
  border: 1px solid var(--header-border);
  background-color: #fff;
  width: calc(100% - 2px);
  height: 100%;
  overflow: auto;
}
.code-wmFEDa-graph[data-isvisible="1"] {
  display: block;
}
.code-wmFEDa-graph[data-isvisible="0"] {
  display: none;
}
.code-wmFEDa-graph img {
  width: 100%;
}

/* css-modules:css-modules://hxTmyOtj8I243MNUf4Cu5jScrzogTZHgdDlX2M0r0ps.css */
.code--1jC8W-resizerWrapper {
  z-index: 7;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 0;
  height: auto;
  display: flex;
  position: relative;
}
.code--1jC8W-resizerZone {
  cursor: col-resize;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2px;
  right: -2px;
}
.code--1jC8W-verticalSplitPaneWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.code--1jC8W-splitPane {
  user-select: text;
  outline: none;
  flex-direction: row;
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  overflow: hidden;
}

/* css-modules:css-modules://CP44j4pxIohAWkOX-9Nw5mUCT_PQtFHb5S4ggjjPd8s.css */
.code-0Y5_vG-codeMirror * {
  font-size: calc(var(--code-fontsizemultiplier) * var(--code-default-fontsize)) !important;
}

/* css-modules:css-modules://pqyX-Y3IK3oiRrlFBxkSkcHBb5OYtWZAqXRfJyQZNFw.css */
.code-iMITqq-editorContainer {
  height: 100%;
  display: var(--code-ismobile-mobileresultopened);
  flex-direction: column;
  position: relative;
}
.code-iMITqq-editorContainer[data-ismobile="1"] {
  width: 100%;
}
.code-iMITqq-editorContainer[data-ismobile="0"] {
  width: auto;
}
.code-iMITqq-editorHeader {
  height: calc((var(--code-header-height)) * var(--size-index, 1) * 1px);
  background: var(--header-bg);
  color: var(--text-main-color);
  border: 1px solid var(--header-border);
  border-top-left-radius: var(--code-border-radius);
  border-bottom: none;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  display: flex;
}
.code-iMITqq-editorHeader[data-ismobile="1"] {
  border-top-right-radius: var(--code-border-radius);
}
.code-iMITqq-title {
  font-size: calc(var(--size-index, 1) * 16px);
  letter-spacing: 0;
  line-height: 1.25;
}
.code-iMITqq-fillGap {
  flex: 1;
}
.code-iMITqq-editorContent {
  line-height: initial;
  border: 1px solid var(--header-border);
  background: var(--background-component-color);
  flex: 1;
  overflow-y: auto;
}

/* css-modules:css-modules://Z-wDh6jBrt4E0j8KblNRMCqyRT-vgAFZolNoGaC5CHQ.css */
.code-YcHaRW-splitEditorWrapper {
  width: 100%;
  height: 100%;
}

/* css-modules:css-modules://v7tpoJzkxlN7Ml0fSEQG8YsaIeqlZHTeWw8cFD2yp40.css */
.code-UNja4G-llsCode .CodeMirror * {
  line-height: 1.28571;
  letter-spacing: .005em !important;
  font-family:
    Courier,
    Monaco,
    Menlo,
    Ubuntu Mono,
    Consolas,
    source-code-pro,
    monospace !important;
  font-style: normal !important;
  font-weight: normal !important;
}
.code-UNja4G-llsCode .CodeResults * {
  line-height: 1.28571;
  letter-spacing: .005em !important;
  font-family:
    Courier,
    Monaco,
    Menlo,
    Ubuntu Mono,
    Consolas,
    source-code-pro,
    monospace !important;
  font-style: normal !important;
  font-weight: normal !important;
}
.code-UNja4G-llsCode .CodeMirror-hints * {
  line-height: 1.28571;
  letter-spacing: .005em !important;
  font-family:
    Courier,
    Monaco,
    Menlo,
    Ubuntu Mono,
    Consolas,
    source-code-pro,
    monospace !important;
  font-style: normal !important;
  font-weight: normal !important;
}
.code-UNja4G-llsCode .CodeMirror-hints {
  background-color: var(--code-hints-bg);
  border: 0;
  min-width: 200px;
}
.code-UNja4G-llsCode .CodeMirror-hints * {
  color: var(--code-hints);
  font-size: 12px;
}
.code-UNja4G-llsCode .CodeMirror-hint-active {
  background-color: var(--code-hints-active);
}
.code-UNja4G-llsCode .CodeMirror {
  font-size: 12px;
  background: var(--code-main-bg) !important;
  color: var(--code-main) !important;
  height: 100% !important;
}
.code-UNja4G-llsCode .CodeMirror * {
  letter-spacing: 0;
  height: auto;
  font-family:
    Monaco,
    Menlo,
    Ubuntu Mono,
    Consolas,
    source-code-pro,
    monospace;
  font-weight: normal !important;
}
.code-UNja4G-llsCode .CodeResults {
  font-size: 12px;
  background: var(--code-main-bg) !important;
  color: var(--code-main) !important;
  height: 100% !important;
}
.code-UNja4G-llsCode .CodeResults * {
  letter-spacing: 0;
  height: auto;
  font-family:
    Monaco,
    Menlo,
    Ubuntu Mono,
    Consolas,
    source-code-pro,
    monospace;
  font-weight: normal !important;
}
.code-UNja4G-llsCode .CodeMirror-line {
  padding-left: 20px;
}
.code-UNja4G-llsCode .cm-tab {
  border-left: 1px solid var(--code-tab-border);
}
.code-UNja4G-llsCode .CodeMirror-linenumber {
  color: var(--code-line-number-bg);
}
.code-UNja4G-llsCode .CodeMirror-gutters {
  border: 0 !important;
}
.code-UNja4G-llsCode .CodeMirror-code[contenteditable=true] {
  opacity: 1;
}
.code-UNja4G-llsCode .CodeMirror-scroll {
  height: 100%;
}
.code-UNja4G-llsCode span.cm-meta {
  color: var(--code-meta);
}
.code-UNja4G-llsCode span.cm-atom {
  color: var(--code-atom);
}
.code-UNja4G-llsCode span.cm-builtin {
  color: var(--code-builtin);
}
.code-UNja4G-llsCode span.cm-tag {
  color: var(--code-tag);
}
.code-UNja4G-llsCode span.cm-number {
  color: var(--code-number);
}
.code-UNja4G-llsCode span.cm-keyword {
  color: var(--code-keyword);
  font-weight: bold;
  line-height: 1em;
}
.code-UNja4G-llsCode span.cm-def {
  color: var(--code-def);
}
.code-UNja4G-llsCode span.cm-variable {
  color: var(--code-variable);
}
.code-UNja4G-llsCode span.cm-variable-2 {
  color: var(--code-variable-2);
}
.code-UNja4G-llsCode span.cm-variable-3 {
  color: var(--code-variable-3);
}
.code-UNja4G-llsCode span.cm-type {
  color: var(--code-type);
}
.code-UNja4G-llsCode span.cm-property {
  color: var(--code-property);
}
.code-UNja4G-llsCode span.cm-operator {
  color: var(--code-operator);
}
.code-UNja4G-llsCode span.cm-string {
  color: var(--code-string);
}
.code-UNja4G-llsCode span.cm-string-2 {
  color: var(--code-string-2);
}
.code-UNja4G-llsCode span.cm-comment {
  color: var(--code-comment);
}
.code-UNja4G-llsCode span.cm-link {
  color: var(--code-link);
}
.code-UNja4G-llsCode span.cm-error {
  color: var(--code-error);
  background-color: var(--code-error-bg);
}
.code-UNja4G-llsCode span.cm-attribute {
  color: var(--code-attribute);
}
.code-UNja4G-llsCode span.cm-qualifier {
  color: var(--code-qualifier);
}
.code-UNja4G-llsCode span.cm-bracket {
  color: var(--code-brackets);
}
.code-UNja4G-llsCode div.CodeMirror-selected {
  background: var(--code-selected-bg);
}
.code-UNja4G-llsCode .CodeMirror-gutters {
  background: var(--code-gutters-bg);
  border-right: 1px solid var(--code-gutters-border);
  color: var(--code-gutters);
}
.code-UNja4G-llsCode .CodeMirror-cursor {
  border-left: 1px solid var(--code-cursor-border);
}
.code-UNja4G-llsCode .CodeMirror-activeline-background {
  background: var(--code-activeline-bg);
}
.code-UNja4G-llsCode .CodeMirror-matchingbracket {
  background-color: var(--code-matching-brackets-bg);
  color: var(--code-matching-brackets) !important;
}
div:where(.lls-code-dark).code-UNja4G-editor {
  --header-bg: var(--gray-70-color);
  --header-border: var(--gray-60-color);
  --code-main: #fff;
  --code-main-bg: #002e4d;
  --code-meta: #ae81ff;
  --code-atom: #ae81ff;
  --code-builtin: #22bfef;
  --code-tag: #ff5c92;
  --code-keyword: #ff5c92;
  --code-number: #bfb2fd;
  --code-def: #ffa827;
  --code-variable: #f8f8f2;
  --code-variable_2: #9effff;
  --code-variable_3: #66d9ef;
  --code-type: #66d9ef;
  --code-property: #a6e22e;
  --code-operator: #d4d4d4;
  --code-string: #e6db74;
  --code-string-2: #6a8759;
  --code-comment: #75715e;
  --code-link: #ae81ff;
  --code-attribute: #a6e22e;
  --code-error: #f8f8f0;
  --code-error-bg: #ff5c92;
  --code-selected-bg: #49483efc;
  --code-gutters: #606366;
  --code-gutters-bg: #002e4d;
  --code-gutters-border: "";
  --code-cursor-border: #f8f8f0;
  --code-activeline-bg: #373831;
  --code-qualifier: #d7ba7d;
  --code-brackets: #f8f8f2;
  --code-matching-brackets: #fff;
  --code-matching-brackets-bg: #3b514d;
  --code-hints: #d4d4d4;
  --code-hints-bg: #2c2c30;
  --code-hints-active: #0b2f4a;
  --code-tab-border: #888;
  --code-line-number-bg: #7d95b5;
}
div:where(.lls-code-dark) .code-UNja4G-editor .code-UNja4G-editor {
  --header-bg: var(--gray-70-color);
  --header-border: var(--gray-60-color);
  --code-main: #fff;
  --code-main-bg: #002e4d;
  --code-meta: #ae81ff;
  --code-atom: #ae81ff;
  --code-builtin: #22bfef;
  --code-tag: #ff5c92;
  --code-keyword: #ff5c92;
  --code-number: #bfb2fd;
  --code-def: #ffa827;
  --code-variable: #f8f8f2;
  --code-variable_2: #9effff;
  --code-variable_3: #66d9ef;
  --code-type: #66d9ef;
  --code-property: #a6e22e;
  --code-operator: #d4d4d4;
  --code-string: #e6db74;
  --code-string-2: #6a8759;
  --code-comment: #75715e;
  --code-link: #ae81ff;
  --code-attribute: #a6e22e;
  --code-error: #f8f8f0;
  --code-error-bg: #ff5c92;
  --code-selected-bg: #49483efc;
  --code-gutters: #606366;
  --code-gutters-bg: #002e4d;
  --code-gutters-border: "";
  --code-cursor-border: #f8f8f0;
  --code-activeline-bg: #373831;
  --code-qualifier: #d7ba7d;
  --code-brackets: #f8f8f2;
  --code-matching-brackets: #fff;
  --code-matching-brackets-bg: #3b514d;
  --code-hints: #d4d4d4;
  --code-hints-bg: #2c2c30;
  --code-hints-active: #0b2f4a;
  --code-tab-border: #888;
  --code-line-number-bg: #7d95b5;
}
div:where(.lls-code-light).code-UNja4G-editor {
  --header-bg: var(--white-color);
  --header-border: var(--gray-20-color);
  --code-main: #002e4d;
  --code-main-bg: var(--gray-5-color);
  --code-meta: #555;
  --code-atom: #3a3;
  --code-builtin: #077;
  --code-tag: blue;
  --code-keyword: blue;
  --code-number: #3a3;
  --code-def: "";
  --code-variable: black;
  --code-variable_2: "";
  --code-variable_3: "";
  --code-type: "";
  --code-property: "";
  --code-operator: "";
  --code-string: #a22;
  --code-string-2: "";
  --code-comment: #a86;
  --code-link: #3a3;
  --code-attribute: "";
  --code-error: "";
  --code-error-bg: "";
  --code-selected-bg: #d7d4f1fc;
  --code-gutters: "";
  --code-gutters-bg: var(--gray-5-color);
  --code-gutters-border: "";
  --code-cursor-border: #000;
  --code-activeline-bg: #e8f2ff;
  --code-qualifier: "";
  --code-brackets: "";
  --code-matching-brackets: black;
  --code-matching-brackets-bg: "";
  --code-hints: #d4d4d4;
  --code-hints-bg: #2c2c30;
  --code-hints-active: #0b2f4a;
  --code-tab-border: "";
  --code-line-number-bg: #55779e;
}
div:where(.lls-code-light) .code-UNja4G-editor .code-UNja4G-editor {
  --header-bg: var(--white-color);
  --header-border: var(--gray-20-color);
  --code-main: #002e4d;
  --code-main-bg: var(--gray-5-color);
  --code-meta: #555;
  --code-atom: #3a3;
  --code-builtin: #077;
  --code-tag: blue;
  --code-keyword: blue;
  --code-number: #3a3;
  --code-def: "";
  --code-variable: black;
  --code-variable_2: "";
  --code-variable_3: "";
  --code-type: "";
  --code-property: "";
  --code-operator: "";
  --code-string: #a22;
  --code-string-2: "";
  --code-comment: #a86;
  --code-link: #3a3;
  --code-attribute: "";
  --code-error: "";
  --code-error-bg: "";
  --code-selected-bg: #d7d4f1fc;
  --code-gutters: "";
  --code-gutters-bg: var(--gray-5-color);
  --code-gutters-border: "";
  --code-cursor-border: #000;
  --code-activeline-bg: #e8f2ff;
  --code-qualifier: "";
  --code-brackets: "";
  --code-matching-brackets: black;
  --code-matching-brackets-bg: "";
  --code-hints: #d4d4d4;
  --code-hints-bg: #2c2c30;
  --code-hints-active: #0b2f4a;
  --code-tab-border: "";
  --code-line-number-bg: #55779e;
}
.code-UNja4G-editor[data-isfullscreen="1"] {
  width: 100%;
  height: 100%;
  z-index: var(--code-z-navbar);
  background: #fff;
  flex-direction: column;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}
.code-UNja4G-editorWrapper {
  height: var(--code-height);
  width: var(--code-width);
  display: flex;
  position: relative;
}

/* css-modules:css-modules://kn4Xl2nHxeYkD0jxHdi3RwsQzbTUXxKy-w-G2bp0cxY.css */
.code-lUqfbG-modalContent {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
.code-lUqfbG-modalText {
  font-size: calc(var(--size-index, 1) * 16px);
  letter-spacing: 0;
  word-wrap: break-word;
  word-break: break-all;
  margin: 15px 0;
  line-height: 1.5;
}
.code-lUqfbG-modalActions {
  box-sizing: border-box;
  width: 100%;
  padding-top: 16px;
  display: flex;
}
.code-lUqfbG-fillGap {
  flex: 1;
}
