/* linaria:Drawer_or5gp9.linaria.css */
.StyledDrawer_s1r1eypr {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #A5A5A5;
  max-width: 100%;
  font-family: Arial;
  width: var(--s1r1eypr-0);
  height: var(--s1r1eypr-1);
  background-color: #f1f1f1;
}
.StyledDrawer_s1r1eypr:not([data-toolbaropened="1"]) {
  overflow: hidden;
}

/* linaria:Paper_1bx9nhb.linaria.css */
.StyledPaperWrapper_sp5j6l5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 0px;
  -webkit-transition: -webkit-transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform: translateX(var(--sp5j6l5-0));
  -ms-transform: translateX(var(--sp5j6l5-0));
  transform: translateX(var(--sp5j6l5-0));
}
.StyledPaper_sr57yr8 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: #FFF;
  touch-action: none;
  max-width: 100%;
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: var(--sr57yr8-0);
  top: var(--sr57yr8-1);
  left: var(--sr57yr8-1);
}
.StyledPaperAndChildren_s1nwzldy {
  display: var(--s1nwzldy-0);
  position: relative;
  margin: auto;
  background-color: #FFF;
  max-width: 100%;
  height: var(--s1nwzldy-1);
  width: var(--s1nwzldy-1);
}
.StyledChildren_sp413n0 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* linaria:Toolbar_1nphht6.linaria.css */
.StyledToolbar_sezuam7 {
  background-color: #FFF;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  border-right: 1px solid #A5A5A5;
  opacity: 1;
  width: 109px;
  min-height: 350px;
  padding: 0px 10px;
  -webkit-transition: -webkit-transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform: translateX(var(--sezuam7-0));
  -ms-transform: translateX(var(--sezuam7-0));
  transform: translateX(var(--sezuam7-0));
  z-index: 1;
}
.StyledSection_s1ms033z {
  border-bottom: 1px solid #E5E5E5;
  padding: 5px 0px;
}
.StyledSection_s1ms033z:last-of-type {
  border-bottom: none;
}
.StyledSection_s1ms033z:nth-last-of-type(2) {
  border-bottom: none;
  padding-bottom: 0;
}
.StyledSectionTitle_s4091cg {
  color: #A5A5A5;
  text-align: center;
  font-size: 11px;
  line-height: 12px;
  text-transform: uppercase;
  -webkit-letter-spacing: 1px;
  -moz-letter-spacing: 1px;
  -ms-letter-spacing: 1px;
  letter-spacing: 1px;
  margin-bottom: 6px;
}
.StyledSectionContent_s1185c0a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.StyledToogleButton_sszbk4t {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #FFF;
  border-left: 1px solid #E5E5E5;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: -42px;
  box-shadow: 1px 1px 6px 0px #00000026;
}

/* linaria:Common_x6n57m.linaria.css */
.StyledButton_sytzfnx {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  outline: none;
  background-color: #FFF;
  border-radius: 3px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  cursor: pointer;
  margin: 4px;
  position: relative;
  overflow: visible;
  border: 2px solid var(--sytzfnx-0);
}
.StyledButton_sytzfnx svg {
  font-size: 20px;
  fill: var(--sytzfnx-0);
}
.StyledButton_sytzfnx:disabled {
  background-color: #f1f1f1;
  cursor: default;
  border-color: #A5A5A5;
}
.StyledButton_sytzfnx:disabled svg {
  fill: #A5A5A5;
}
.StyledButton_sytzfnx:not(:disabled):hover {
  box-shadow: 0px 3px 5px 0px rgba(230, 230, 230, 1);
}
.StyledButton_sytzfnx:not(:disabled):active {
  -webkit-transform: translate3d(0px, 2px, 0px);
  -ms-transform: translate3d(0px, 2px, 0px);
  transform: translate3d(0px, 2px, 0px);
}
.StyledTooltipButton_sejtvci.StyledButton_sytzfnx {
  border-width: 2px;
  overflow: visible;
}
.StyledTooltipButton_sejtvci.StyledButton_sytzfnx:not(:disabled):active {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.StyledTooltipButton_sejtvci.StyledButton_sytzfnx svg {
  pointer-events: none;
}
.StyledTooltipButtonWrapper_sakdpqs {
  display: inline-block;
  position: relative;
}
.StyledButtonText_s1ktaq8l.StyledButton_sytzfnx {
  color: var(--s1ktaq8l-0);
  width: 106px;
  height: 35px;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
}

/* linaria:Color_1izpb25.linaria.css */
.StyledColors_s6x2sef {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.StyledColor_s1yko1t {
  width: 40px;
  height: 30px;
  margin: 10px;
  background-color: var(--s1yko1t-0);
  box-shadow: 0px 3px 5px 0px rgba(230, 230, 230, 1);
  cursor: pointer;
}
@media screen and (max-width:650px) {
  .StyledColor_s1yko1t {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.StyledColor_s1yko1t[data-color=transparent]:after {
  content: "";
  width: 100%;
  border: 1px solid #ff5252;
  display: block;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: skew(-45deg, -35deg);
  -ms-transform: skew(-45deg, -35deg);
  transform: skew(-45deg, -35deg);
}
@media screen and (max-width:650px) {
  .StyledColor_s1yko1t[data-color=transparent]:after {
    -webkit-transform: skew(-45deg, -190deg);
    -ms-transform: skew(-45deg, -190deg);
    transform: skew(-45deg, -190deg);
  }
}

/* linaria:Tooltip_19b9h73.linaria.css */
.StyledTooltip_swqy7ro {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #FFF;
  width: var(--swqy7ro-0);
  box-shadow: 0px 0px 2px 0px rgb(210, 210, 210);
  cursor: auto;
  box-sizing: border-box;
  z-index: var(--swqy7ro-1);
  padding: 20px;
}
@media screen and (max-width:650px) {
  .StyledTooltip_swqy7ro {
    display: block;
    width: var(--swqy7ro-2);
    max-height: 350px;
    overflow: scroll;
  }
}
.StyledCloseIcon_sob7aw2 {
  position: absolute;
  top: 5px;
  right: 10px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  cursor: pointer;
}
.StyledTooltipTitle_sp78etv {
  padding-bottom: 10px;
  font-size: 11px;
  text-transform: uppercase;
  -webkit-letter-spacing: 1px;
  -moz-letter-spacing: 1px;
  -ms-letter-spacing: 1px;
  letter-spacing: 1px;
  text-align: center;
}

/* linaria:Text_b3axwi.linaria.css */
.StyledFontSizes_s5msm14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.StyledFontSize_s10ythq7 {
  margin: 10px;
  font-size: var(--s10ythq7-0);
  cursor: pointer;
}

/* linaria:ShapeWrapper_ls7yql.linaria.css */
.StyledG_s1ja7l43 {
  cursor: var(--s1ja7l43-0);
}

/* linaria:Polyline_7flg0n.linaria.css */
.StyledPolyline_s1rzuaxa {
  outline: var(--s1rzuaxa-0);
  outline-offset: 2px;
}

/* linaria:Circle_tumc11.linaria.css */
.StyledCircle_s5vvae2 {
  outline: var(--s5vvae2-0);
  outline-offset: 2px;
}

/* linaria:Line_1rry8ve.linaria.css */
.StyledLine_s18x93kv {
  outline: var(--s18x93kv-0);
  outline-offset: 2px;
}

/* linaria:Rect_ewwfj6.linaria.css */
.StyledRect_s1n0pw6z {
  outline: var(--s1n0pw6z-0);
  outline-offset: 2px;
}

/* linaria:Arrow_62u6yz.linaria.css */
.StyledArrow_s1uvsqdq {
  outline: var(--s1uvsqdq-0);
  outline-offset: 2px;
}

/* linaria:Text_1uy1j9e.linaria.css */
.StyledText_soi2qwj {
  outline: var(--soi2qwj-0);
  outline-offset: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* linaria:TextInput_15qgh4j.linaria.css */
.StyledTextInput_s1f2p554 {
  position: absolute;
  height: var(--s1f2p554-0);
  font-size: var(--s1f2p554-0);
  background: transparent;
  color: transparent;
  caret-color: #000;
  padding: 0px;
  border: none;
  outline: none;
  font-family: Arial;
}

/* linaria:Placeholder_1g7lu6s.linaria.css */
.StyledPlaceholder_snygynn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.23);
  pointer-events: none;
  padding: 0px 20px;
  box-sizing: border-box;
  text-align: center;
}
@media screen and (max-width:500px) {
  .StyledPlaceholder_snygynn {
    font-size: 30px;
  }
}
