/* src/primary/styles/globalStyle.css */
:root {
  --pk-blue-50-color: #002e4d;
  --pk-blue-40-color: #00488d;
  --pk-blue-30-color: #4e98df;
  --pk-blue-20-color: #b3daff;
  --pk-blue-10-color: #e8f4ff;
  --pk-orange-50-color: #873800;
  --pk-orange-40-color: #ab6605;
  --pk-orange-30-color: #ffb241;
  --pk-orange-20-color: #ffd9a0;
  --pk-orange-10-color: #fff0da;
  --pk-pink-50-color: #920537;
  --pk-pink-40-color: #d8145a;
  --pk-pink-30-color: #ff669c;
  --pk-pink-20-color: #f08baf;
  --pk-pink-10-color: #ffd5e4;
  --pk-green-50-color: #2e5402;
  --pk-green-40-color: #458000;
  --pk-green-30-color: #81c331;
  --pk-green-20-color: #c4e1a0;
  --pk-green-10-color: #edfed7;
  --pk-purple-50-color: #453c4d;
  --pk-purple-40-color: #836f94;
  --pk-purple-30-color: #a788c2;
  --pk-purple-20-color: #c1a8d6;
  --pk-purple-10-color: #e1d2ee;
  --pk-blue-color: #00488d;
  --pk-orange-color: #ffb241;
  --pk-pink-color: #ff669c;
  --pk-green-color: #81c331;
  --pk-purple-color: #c1a8d6;
  --pk-white-color: #fff;
  --pk-black-color: #000;
  --pk-success-color: #10c54a;
  --pk-error-color: #ff5765;
  --pk-disabled-surface-color: #f0f2f7;
  --pk-disabled-content-color: #b8c3d9;
  --pk-background-color: #fdf7f1;
  --pk-text-blue-color: #002e4d;
  --pk-text-white-color: #fff;
  --pk-text-gray-color: #55779e;
}
.kit-primaryBody1 {
  font-family:
    LatoWeb,
    LLSMontserrat,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 20px;
  line-height: 1.4;
}
.kit-primaryBody2 {
  font-family:
    LatoWeb,
    LLSMontserrat,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 16px;
  line-height: 1.3;
}
.kit-primaryButton1 {
  font-family:
    LatoWeb,
    LLSMontserrat,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
}
.kit-primaryButton2 {
  font-family:
    LatoWeb,
    LLSMontserrat,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.5;
}
.kit-primaryHeading1 {
  font-family:
    LatoWeb,
    LLSMontserrat,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 44px;
  font-weight: 800;
  line-height: 1.27273;
}
.kit-primaryHeading2 {
  font-family:
    Pally,
    LLSMontserrat,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 32px;
  line-height: 1.625;
}
.kit-primaryHeading3 {
  font-family:
    LatoWeb,
    LLSMontserrat,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 28px;
  line-height: 1.42857;
}
.kit-primaryHeading3Pally {
  font-family:
    Pally,
    LLSMontserrat,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 28px;
  line-height: 1.42857;
}

/* css-modules:css-modules://j5BumMkMhxZ4I2T7xs9JhtShGcJijhdXMG2qssg-0X8.css */
.pkit-dtBg0W-chip {
  --kit-clickable-bg: var(--gray-90-color);
  box-sizing: border-box;
  user-select: none;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  padding: 1px 8px;
  display: inline-flex;
  position: relative;
}
.pkit-dtBg0W-chip:not(:disabled):not([data-disabled="1"]) {
  cursor: var(--kit-clickable-cursor, pointer);
}
.pkit-dtBg0W-chip:not(:disabled):not([data-disabled="1"]):before {
  -webkit-backface-visibility: hidden;
}
.pkit-dtBg0W-chip:not(:disabled):not([data-disabled="1"]):before {
  content: "";
  border-radius: var(--kit-clickable-borderradius, inherit);
  opacity: 0;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.pkit-dtBg0W-chip:not(:disabled):not([data-disabled="1"]):after {
  content: "";
  border-radius: var(--kit-clickable-borderradius, inherit);
  opacity: 0;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.pkit-dtBg0W-chip:not(:disabled):not([data-disabled="1"]):before {
  transition: var(--animation-ripple-before-transition);
  background: var(--kit-clickable-bg);
}
.pkit-dtBg0W-chip:not(:disabled):not([data-disabled="1"]):after {
  transition: var(--animation-ripple-after-transition);
  background:
    transparent radial-gradient(
      circle,
      var(--kit-clickable-bg) 1%,
      transparent 1%) center / 15000%;
}
.pkit-dtBg0W-chip:not(:disabled):not([data-disabled="1"]):hover:before {
  opacity: .16;
}
.pkit-dtBg0W-chip:not(:disabled):not([data-disabled="1"]):focus-visible:before {
  opacity: .24;
}
.pkit-dtBg0W-chip:not(:disabled):not([data-disabled="1"]):active:after {
  opacity: .32;
  transition: var(--animation-ripple-after-active-transition);
  background-size: 100%;
}
.pkit-dtBg0W-chip:not(:disabled):not([data-disabled="1"]):active:hover:after {
  opacity: .16;
}
.pkit-dtBg0W-chip:not(:disabled):not([data-disabled="1"]):active:focus-visible:after {
  opacity: .08;
}
.pkit-dtBg0W-chip[data-disabled="0"] {
  color: var(--chip-text);
  background-color: var(--chip-bg);
  cursor: pointer;
}
.pkit-dtBg0W-chip[data-disabled="0"]:hover {
  color: var(--chip-hover-text);
}
.pkit-dtBg0W-chip[data-disabled="0"]:focus {
  color: var(--chip-hover-text);
}
.pkit-dtBg0W-chip[data-disabled="0"]:active {
  color: var(--chip-hover-text);
}
.pkit-dtBg0W-chip[data-disabled="0"] > button {
  cursor: pointer;
}
.pkit-dtBg0W-chip[data-disabled="1"] {
  color: var(--chip-disabled-text);
  background-color: var(--chip-disabled-bg);
}
.pkit-dtBg0W-chip[data-clickable="1"] {
  cursor: pointer;
}
.pkit-dtBg0W-label {
  font-size: calc(var(--size-index, 1) * 16px);
  letter-spacing: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: inherit;
  margin-right: 8px;
  line-height: 1.625;
}
.pkit-dtBg0W-label[data-biglabel="1"] {
  font-size: calc(var(--size-index, 1) * 20px);
  letter-spacing: 0;
  line-height: 1.2;
}
.pkit-dtBg0W-button {
  color: inherit;
  background-color: #0000;
  border: none;
  flex-shrink: 0;
  align-items: center;
  display: inline-flex;
}
.pkit-dtBg0W-button[data-is-single-action="1"] {
  padding: 4px 0;
}
.pkit-dtBg0W-button[data-is-single-action="0"] {
  padding: 0;
}

/* css-modules:css-modules://Vac8ug0Q6BI9GNVllmZSqv59Yy_b0gM0oSg02KNkysw.css */
.pkit-FRDa8W-icon {
  color: var(--k-color);
  flex-shrink: 0;
}
.pkit-FRDa8W-icon[data-haswidth="1"] {
  width: var(--k-icon-width);
}
.pkit-FRDa8W-icon:not([data-haswidth="1"]) {
  max-width: 100%;
}
.pkit-FRDa8W-icon[data-hasheight="1"] {
  height: var(--k-icon-height);
}
.pkit-FRDa8W-icon:not([data-hasheight="1"]) {
  max-height: 100%;
}

/* css-modules:css-modules://R6ms74WZbNGBr9dZSCzJvXyoaTrcNwFwxzCGD6NLnVE.css */
.pkit-fqms1q-buttonContent {
  justify-content: var(--kit-button-content-justify, unset);
  box-sizing: border-box;
  align-items: center;
  max-width: 100%;
  display: flex;
  position: relative;
}
.pkit-fqms1q-buttonContent[data-iconposition=left] {
  --button-content-icon-with-text-margin: 0px calc(8 * var(--size-index, 1) * 1px) 0px 0px;
  flex-direction: row;
}
.pkit-fqms1q-buttonContent[data-iconposition=right] {
  --button-content-icon-with-text-margin: 0px 0px 0px calc(8 * var(--size-index, 1) * 1px);
  flex-direction: row-reverse;
}
.pkit-fqms1q-buttonContent[data-icononly="0"] {
  padding: var(--kit-button-padding, calc(8 * var(--size-index, 1) * 1px) calc(16 * var(--size-index, 1) * 1px));
}
.pkit-fqms1q-buttonContent[data-icononly="0"] .kit-icon {
  margin: var(--button-content-icon-with-text-margin);
}
.pkit-fqms1q-buttonContent[data-icononly="0"] .kit-icon .kit-icon {
  margin: 0;
}
.pkit-fqms1q-buttonContent[data-icononly="1"] {
  padding: var(--kit-button-padding, calc(8 * var(--size-index, 1) * 1px));
}
.pkit-fqms1q-buttonContent[data-icononly="1"] .kit-icon {
  margin: 0;
}
.pkit-fqms1q-buttonContent .kit-icon {
  width: var(--k-button-icon-size);
  height: var(--k-button-icon-size);
  max-width: initial;
  max-height: initial;
}
.pkit-fqms1q-button {
  font-size: calc(var(--size-index, 1) * 16px);
  letter-spacing: .005em;
  text-decoration: var(--kit-button-text-decoration, none);
  vertical-align: middle;
  margin: var(--kit-button-margin, var(--button-margin));
  user-select: none;
  color: var(--k-button-color);
  background-color: var(--k-button-bgcolor);
  box-shadow: var(--k-button-boxshadow);
  border: none;
  outline: none;
  flex-shrink: 0;
  padding: 0;
  font-family: inherit;
  font-weight: 800;
  line-height: 1.25;
  position: relative;
  overflow: hidden;
}
.pkit-fqms1q-button:not(:disabled):not([data-disabled="1"]) {
  cursor: var(--kit-clickable-cursor, pointer);
}
.pkit-fqms1q-button:not(:disabled):not([data-disabled="1"]):before {
  -webkit-backface-visibility: hidden;
}
.pkit-fqms1q-button:not(:disabled):not([data-disabled="1"]):before {
  content: "";
  border-radius: var(--kit-clickable-borderradius, inherit);
  opacity: 0;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.pkit-fqms1q-button:not(:disabled):not([data-disabled="1"]):after {
  content: "";
  border-radius: var(--kit-clickable-borderradius, inherit);
  opacity: 0;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.pkit-fqms1q-button:not(:disabled):not([data-disabled="1"]):before {
  transition: var(--animation-ripple-before-transition);
  background: var(--kit-clickable-bg);
}
.pkit-fqms1q-button:not(:disabled):not([data-disabled="1"]):after {
  transition: var(--animation-ripple-after-transition);
  background:
    transparent radial-gradient(
      circle,
      var(--kit-clickable-bg) 1%,
      transparent 1%) center / 15000%;
}
.pkit-fqms1q-button:not(:disabled):not([data-disabled="1"]):hover:before {
  opacity: .16;
}
.pkit-fqms1q-button:not(:disabled):not([data-disabled="1"]):focus-visible:before {
  opacity: .24;
}
.pkit-fqms1q-button:not(:disabled):not([data-disabled="1"]):active:after {
  opacity: .32;
  transition: var(--animation-ripple-after-active-transition);
  background-size: 100%;
}
.pkit-fqms1q-button:not(:disabled):not([data-disabled="1"]):active:hover:after {
  opacity: .16;
}
.pkit-fqms1q-button:not(:disabled):not([data-disabled="1"]):active:focus-visible:after {
  opacity: .08;
}
.pkit-fqms1q-button[data-maxsize="0"] {
  width: var(--kit-button-width, fit-content);
  display: var(--k-button-display, inline-block);
}
.pkit-fqms1q-button[data-maxsize="1"] {
  justify-content: stretch;
  width: 100%;
  display: grid;
}
.pkit-fqms1q-button[data-maxsize="1"] .pkit-fqms1q-buttonContent {
  justify-content: var(--kit-button-content-justify, center);
  width: 100%;
  display: flex;
}
.pkit-fqms1q-button[data-maxsize="1"][data-rounded="1"] .kit-icon {
  width: 100%;
  height: auto;
}
.pkit-fqms1q-button[data-rounded="0"] {
  border-radius: var(--kit-button-radius, calc(8 * var(--size-index, 1) * 1px));
}
.pkit-fqms1q-button[data-rounded="1"] {
  border-radius: 50%;
}
.pkit-fqms1q-filesInputContainer {
  height: inherit;
  vertical-align: middle;
  flex-shrink: 0;
  display: inline;
}
.pkit-fqms1q-premiumIndicator {
  position: absolute;
  top: 0;
  right: 0;
}
.pkit-fqms1q-filesInput {
  display: none;
}

/* css-modules:css-modules://LTmyuBLw0MSOXjljth-eyCsEDio41GcPc_TbQKe9s6M.css */
.pkit-gfai4a-divider {
  background-color: var(--divider-bg);
  border: none;
}
.pkit-gfai4a-divider[data-vertical="1"] {
  margin: var(--kit-divider-margin, var(--divider-vertical-margin));
  align-self: stretch;
  width: 1px;
  min-height: 100%;
}
.pkit-gfai4a-divider[data-vertical="0"] {
  margin: var(--kit-divider-margin, var(--divider-horizontal-margin));
  flex: auto;
  height: 1px;
}

/* css-modules:css-modules://9-u-AjMffGGJCk0UwBO7lXhk7mWVpjujV9Nw9LUTyzU.css */
.pkit-nizCjq-childrenContainer {
  overflow-wrap: normal;
  width: 100%;
}
.pkit-nizCjq-container {
  --kit-clickable-bg: var(--illustrated-button-hover-bg);
  border-radius: var(--kit-button-radius, 8px);
  user-select: none;
  text-align: center;
  color: var(--main-text-color);
  background-color: var(--illustrated-button-bg);
  border: none;
  align-items: center;
  gap: 4px;
  padding: 4px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  position: relative;
}
.pkit-nizCjq-container:not(:disabled):not([data-disabled="1"]) {
  cursor: var(--kit-clickable-cursor, pointer);
}
.pkit-nizCjq-container:not(:disabled):not([data-disabled="1"]):before {
  -webkit-backface-visibility: hidden;
}
.pkit-nizCjq-container:not(:disabled):not([data-disabled="1"]):before {
  content: "";
  border-radius: var(--kit-clickable-borderradius, inherit);
  opacity: 0;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.pkit-nizCjq-container:not(:disabled):not([data-disabled="1"]):after {
  content: "";
  border-radius: var(--kit-clickable-borderradius, inherit);
  opacity: 0;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.pkit-nizCjq-container:not(:disabled):not([data-disabled="1"]):before {
  transition: var(--animation-ripple-before-transition);
  background: var(--kit-clickable-bg);
}
.pkit-nizCjq-container:not(:disabled):not([data-disabled="1"]):after {
  transition: var(--animation-ripple-after-transition);
  background:
    transparent radial-gradient(
      circle,
      var(--kit-clickable-bg) 1%,
      transparent 1%) center / 15000%;
}
.pkit-nizCjq-container:not(:disabled):not([data-disabled="1"]):hover:before {
  opacity: .16;
}
.pkit-nizCjq-container:not(:disabled):not([data-disabled="1"]):focus-visible:before {
  opacity: .24;
}
.pkit-nizCjq-container:not(:disabled):not([data-disabled="1"]):active:after {
  opacity: .32;
  transition: var(--animation-ripple-after-active-transition);
  background-size: 100%;
}
.pkit-nizCjq-container:not(:disabled):not([data-disabled="1"]):active:hover:after {
  opacity: .16;
}
.pkit-nizCjq-container:not(:disabled):not([data-disabled="1"]):active:focus-visible:after {
  opacity: .08;
}
.pkit-nizCjq-container[data-position=left] .pkit-nizCjq-childrenContainer {
  text-align: start;
}
.pkit-nizCjq-container[data-position=top] {
  flex-direction: column;
  width: 118px;
}
.pkit-nizCjq-illustrationContainer {
  width: 55px;
  height: 42px;
}
.pkit-nizCjq-image {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

/* css-modules:css-modules://bToUVJnk3OFEBuy3p-d00YM_UKfCPNc1-uGQdmGePss.css */
.pkit-NCzFVW-switchContainer {
  --button-switch-transition: .2s;
  user-select: none;
  outline: none;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  display: inline-flex;
}
.pkit-NCzFVW-switchContainer[data-isright="1"] {
  flex-direction: row;
}
.pkit-NCzFVW-switchContainer[data-isright="0"] {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.pkit-NCzFVW-switchContainer[data-disabled="1"] .pkit-NCzFVW-label {
  color: var(--text-disabled-color);
}
.pkit-NCzFVW-switchContainer[data-disabled="0"][data-readonly="0"] .pkit-NCzFVW-label {
  color: var(--text-main-color);
}
.pkit-NCzFVW-switchContainer[data-disabled="0"][data-readonly="0"]:hover {
  cursor: pointer;
}
.pkit-NCzFVW-switchContainer[data-disabled="0"][data-readonly="0"]:hover .pkit-NCzFVW-switchSlot {
  opacity: 1;
}
.pkit-NCzFVW-switchContainer:active .pkit-NCzFVW-switch[data-value="0"] .pkit-NCzFVW-switchSlot {
  background-color: var(--button-switch-pressed-slot);
}
.pkit-NCzFVW-switchContainer:active .pkit-NCzFVW-switch[data-value="1"] .pkit-NCzFVW-switchSlot {
  background-color: var(--button-switch-active-pressed-slot);
}
.pkit-NCzFVW-switch {
  border-radius: calc(16 * var(--size-index, 1) * 1px);
  width: calc(44 * var(--size-index, 1) * 1px);
  height: calc(24 * var(--size-index, 1) * 1px);
  vertical-align: middle;
  padding: calc(4 * var(--size-index, 1) * 1px);
  box-sizing: border-box;
  flex-shrink: 0;
  display: inline-block;
  position: relative;
}
.pkit-NCzFVW-switch[data-disabled="0"][data-value="1"] {
  background-color: var(--button-switch-active-bg);
}
.pkit-NCzFVW-switch[data-value="0"][data-disabled="0"] {
  background-color: var(--button-switch-bg);
}
.pkit-NCzFVW-switch[data-disabled="1"] {
  background-color: var(--button-switch-disable-bg);
}
.pkit-NCzFVW-switch[data-disabled="1"] .pkit-NCzFVW-switchCursor {
  background-color: var(--button-switch-disable-inner);
}
.pkit-NCzFVW-switch[data-value="1"] .pkit-NCzFVW-icon {
  left: calc(24 * var(--size-index, 1) * 1px);
  opacity: 0;
}
.pkit-NCzFVW-switch[data-value="1"] .pkit-NCzFVW-icon + .pkit-NCzFVW-icon {
  opacity: 1;
}
.pkit-NCzFVW-switch[data-value="1"] .pkit-NCzFVW-switchCursor {
  left: calc(20 * var(--size-index, 1) * 1px);
  background-color: var(--button-switch-active-inner);
}
.pkit-NCzFVW-switch[data-value="1"] .pkit-NCzFVW-switchSlot {
  left: calc(4 * var(--size-index, 1) * 1px);
  background-color: var(--button-switch-active-slot);
}
.pkit-NCzFVW-switch[data-value="0"] .pkit-NCzFVW-icon {
  left: calc(4 * var(--size-index, 1) * 1px);
  opacity: 1;
}
.pkit-NCzFVW-switch[data-value="0"] .pkit-NCzFVW-icon + .pkit-NCzFVW-icon {
  opacity: 0;
}
.pkit-NCzFVW-switch[data-value="0"] .pkit-NCzFVW-switchCursor {
  background-color: var(--button-switch-inner);
  left: 0;
}
.pkit-NCzFVW-switch[data-value="0"] .pkit-NCzFVW-switchSlot {
  left: calc(28 * var(--size-index, 1) * 1px);
  background-color: var(--button-switch-slot);
}
.pkit-NCzFVW-switch,
.pkit-NCzFVW-switchCursor,
.pkit-NCzFVW-switchSlot {
  transition: all var(--button-switch-transition) cubic-bezier(.23, .79, .69, .94);
}
.pkit-NCzFVW-icon {
  top: calc(4 * var(--size-index, 1) * 1px);
  z-index: 2;
  color: var(--button-switch-inner);
  transition: all var(--button-switch-transition) cubic-bezier(.23, .79, .69, .94);
  position: absolute;
}
.pkit-NCzFVW-switchCursor {
  width: calc(16 * var(--size-index, 1) * 1px);
  height: calc(16 * var(--size-index, 1) * 1px);
  z-index: 2;
  border-radius: 50%;
  position: relative;
}
.pkit-NCzFVW-switchSlot {
  top: calc(6 * var(--size-index, 1) * 1px);
  width: calc(12 * var(--size-index, 1) * 1px);
  height: calc(12 * var(--size-index, 1) * 1px);
  opacity: 0;
  z-index: 1;
  border-radius: 50%;
  position: absolute;
}
.pkit-NCzFVW-label {
  font-size: calc(var(--size-index, 1) * 16px);
  letter-spacing: 0;
  vertical-align: middle;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625;
  display: inline-block;
}

/* css-modules:css-modules://SY3sGKQfKUYLcDqXs4IUZGZcwc4bsCFs3VSLTCdv5gY.css */
.pkit-wNHXAW-buttonsListContainer {
  --kit-button-margin: 0 0px;
  --kit-divider-margin: 2px 0;
  --kit-button-width: 100%;
  box-shadow: var(--menu-button-shadow);
  z-index: var(--k-z-buttons-list);
  border-radius: 8px;
  display: inline-block;
  position: relative;
  overflow-y: auto;
}
.pkit-wNHXAW-buttonsList {
  background: var(--menu-button-bg);
  color: var(--text-main-color);
  gap: 4px;
  padding: 4px;
}
.pkit-wNHXAW-buttonsList[data-mode=grid] {
  grid-template-columns: var(--k-buttonlist-grid-template);
  display: grid;
}
.pkit-wNHXAW-buttonsList:not([data-mode=grid]) {
  flex-direction: column;
  display: inline-flex;
}
.pkit-wNHXAW-listMask {
  width: 100%;
  z-index: var(--k-z-mask);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

/* css-modules:css-modules://9JiqaYhbs4-AE0d8aXvkUcK_cUr1th9U0MmgtZzw1IY.css */
.pkit-9toXZG-hidden {
  display: none;
}

/* css-modules:css-modules://u1X2JGtAOGzqXmLb2f4aL2XbITdLn183j1rTAdvCLVo.css */
.pkit--abA_a-chipSelect {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
}

/* css-modules:css-modules://a4CoXS6PjT82yAzRM1ytuZbcrEOQvLfChjoe134GsrA.css */
.pkit-E66c8q-meli {
  width: var(--pk-icon-width);
  height: var(--pk-icon-height);
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
}

/* css-modules:css-modules://SlpgCIAl7qIUu5DXVXSSNgXIyPfyAbWiB6L-V4qAvRI.css */
.pkit-vpKdiG-container {
  position: relative;
}
.pkit-vpKdiG-container[data-disabled="0"] {
  cursor: var(--kit-clickable-cursor, pointer);
}
.pkit-vpKdiG-container[data-disabled="0"]:hover .pkit-vpKdiG-overlay:before {
  opacity: .24;
}
.pkit-vpKdiG-container[data-disabled="0"][data-forcedhover="1"] .pkit-vpKdiG-overlay:before {
  opacity: .24;
}
.pkit-vpKdiG-container[data-disabled="0"]:active .pkit-vpKdiG-overlay:after {
  opacity: .4;
  transition: var(--animation-ripple-after-active-transition);
  background-size: 100%;
}
.pkit-vpKdiG-container[data-disabled="0"][data-forcedactive="1"] .pkit-vpKdiG-overlay:after {
  opacity: .4;
  transition: var(--animation-ripple-after-active-transition);
  background-size: 100%;
}
.pkit-vpKdiG-container[data-disabled="0"]:active:hover .pkit-vpKdiG-overlay:after {
  opacity: .24;
}
.pkit-vpKdiG-container[data-disabled="0"][data-forcedactive="1"][data-forcedhover="1"] .pkit-vpKdiG-overlay:after {
  opacity: .24;
}
.pkit-vpKdiG-container[data-disabled="1"] > .pkit-vpKdiG-overlay {
  display: none;
}
.pkit-vpKdiG-overlay {
  border-radius: var(--pk-overlay-border-radius, "initial");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.pkit-vpKdiG-overlay:before {
  -webkit-backface-visibility: hidden;
}
.pkit-vpKdiG-overlay:before {
  content: "";
  border-radius: var(--kit-clickable-borderradius, inherit);
  opacity: 0;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.pkit-vpKdiG-overlay:after {
  content: "";
  border-radius: var(--kit-clickable-borderradius, inherit);
  opacity: 0;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.pkit-vpKdiG-overlay:before {
  transition: var(--animation-ripple-before-transition);
  background: var(--kit-clickable-bg);
}
.pkit-vpKdiG-overlay:after {
  transition: var(--animation-ripple-after-transition);
  background:
    transparent radial-gradient(
      circle,
      var(--kit-clickable-bg) 1%,
      transparent 1%) center / 15000%;
}
.pkit-vpKdiG-content {
  height: 100%;
  position: relative;
}

/* css-modules:css-modules://y9JJaekgETDTQdSfSqx5nylGV1NkDsAJZI4sqpWO2-Y.css */
.pkit-R9AP3a-button {
  vertical-align: middle;
  margin: var(--pkit-button-margin, 0);
  box-shadow: none;
  background: var(--pk-button-bgcolor);
  color: var(--pk-button-color);
  box-sizing: border-box;
  display: var(--pkit-button-display, inline-block);
  border: none;
  flex-shrink: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 800;
  text-decoration: none;
  overflow: hidden;
}
.pkit-R9AP3a-button[data-rounded="0"] {
  border-radius: 8px;
}
.pkit-R9AP3a-button[data-rounded="1"] {
  border-radius: 50%;
}
.pkit-R9AP3a-button[data-size=normal] {
  min-width: 48px;
  max-width: 320px;
  font-family:
    LatoWeb,
    LLSMontserrat,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
}
.pkit-R9AP3a-button[data-size=normal][data-rounded="0"] {
  --pk-button-dash-offset: 6px;
}
.pkit-R9AP3a-button[data-size=normal][data-rounded="0"] .pkit-R9AP3a-buttonContent {
  padding: 12px 16px;
}
.pkit-R9AP3a-button[data-size=normal][data-rounded="1"] {
  --pk-button-dash-offset: 4px;
}
.pkit-R9AP3a-button[data-size=normal][data-rounded="1"] .pkit-R9AP3a-buttonContent {
  padding: 12px;
}
.pkit-R9AP3a-button[data-size=big] {
  --pk-button-dash-radius: 4px;
  --pk-button-dash-offset: 12px;
  min-width: 144px;
  max-width: 400px;
  font-family:
    LatoWeb,
    LLSMontserrat,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.5;
}
.pkit-R9AP3a-button[data-size=big] .pkit-R9AP3a-buttonContent {
  padding: 16px 24px;
}
.pkit-R9AP3a-button[data-disabled="1"] {
  cursor: default;
}
.pkit-R9AP3a-button[data-disabled="1"] .pkit-R9AP3a-meli {
  filter: grayscale();
}
.pkit-R9AP3a-filesInput {
  display: none;
}
.pkit-R9AP3a-buttonContent {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 8px;
  max-width: 100%;
  display: flex;
  position: relative;
}
.pkit-R9AP3a-buttonContent > * {
  flex-shrink: 0;
}
.pkit-R9AP3a-buttonChildren {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  flex-shrink: 1;
  max-width: 100%;
  display: -webkit-box;
  overflow: hidden;
}
.pkit-R9AP3a-dash {
  left: var(--pk-button-dash-offset);
  right: var(--pk-button-dash-offset);
  bottom: var(--pk-button-dash-offset);
  top: var(--pk-button-dash-offset);
  position: absolute;
}

/* css-modules:css-modules://gJKR2AOkiVtyiviZx5ZlKFc7KeMNVM6_gO-CIZ-CU1M.css */
.pkit-S0VT5G-checkboxContainer {
  user-select: none;
  cursor: pointer;
  align-items: center;
  padding-right: 16px;
  display: inline-flex;
}
.pkit-S0VT5G-checkboxContainer[data-is-disabled="1"] {
  cursor: auto;
}
.pkit-S0VT5G-overlayContainer {
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
}
.pkit-S0VT5G-checkboxContent {
  align-items: center;
  gap: 8px;
  display: flex;
}
.pkit-S0VT5G-checkBoxOuter {
  align-items: center;
  padding: 12px;
  display: flex;
  position: relative;
}
.pkit-S0VT5G-checkBox {
  cursor: pointer;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid var(--pk-checkbox-color);
  box-sizing: border-box;
  background-color: #0000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 2px;
  width: 18px;
  height: 18px;
  margin: 3px;
  display: inline-block;
}
.pkit-S0VT5G-checkBox:disabled {
  cursor: auto;
}
.pkit-S0VT5G-checkBox:focus {
  outline: 0;
}
.pkit-S0VT5G-checkBox[data-is-indeterminate="1"] {
  background-image:
    linear-gradient(
      90deg,
      transparent 0,
      var(--white-color) 10%,
      var(--white-color) 90%,
      transparent 100%);
  background-size: 100% 2px;
  background-color: var(--pk-checkbox-color);
}
.pkit-S0VT5G-checkBox[data-is-indeterminate="0"]:checked {
  background-image:
    linear-gradient(
      -45deg,
      transparent 65%,
      var(--pk-checkbox-color) 0),
    linear-gradient(
      45deg,
      transparent 75%,
      var(--pk-checkbox-color) 0),
    linear-gradient(
      -45deg,
      var(--pk-checkbox-color) 39%,
      transparent 0),
    linear-gradient(
      45deg,
      var(--pk-checkbox-color) 29%,
      var(--pk-white-color) 0,
      var(--pk-white-color) 41%,
      transparent 0),
    linear-gradient(
      -45deg,
      var(--pk-white-color) 51%,
      var(--pk-checkbox-color) 0);
}
.pkit-S0VT5G-label {
  color: var(--pk-checkbox-color);
  font-family:
    LatoWeb,
    LLSMontserrat,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 20px;
  line-height: 1.4;
  display: flex;
}
.pkit-S0VT5G-icon {
  margin-left: 16px;
}

/* css-modules:css-modules://4UNeQ-F2-Ix1cGOOHCWPEhqrx6pqQM01FeQ5T_oASU8.css */
.pkit-qRbsMq-container {
  border-radius: 8px;
  width: fit-content;
}
.pkit-qRbsMq-container[data-disabled="0"] {
  color: var(--pk-text-blue-color);
  background-color: var(--pk-blue-10-color);
  cursor: pointer;
}
.pkit-qRbsMq-container[data-disabled="1"] {
  color: var(--pk-disabled-content-color);
  background-color: var(--pk-disabled-surface-color);
}
.pkit-qRbsMq-chip {
  box-sizing: border-box;
  user-select: none;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
  display: inline-flex;
  position: relative;
}
.pkit-qRbsMq-chip[data-clickable="1"] {
  cursor: pointer;
}
.pkit-qRbsMq-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: inherit;
  font-family:
    LatoWeb,
    LLSMontserrat,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 16px;
  line-height: 1.3;
}
.pkit-qRbsMq-button {
  cursor: inherit;
  color: inherit;
  background-color: #0000;
  border: none;
  flex-shrink: 0;
  align-items: center;
  padding: 6px 0;
  display: inline-flex;
}

/* css-modules:css-modules://0D0-7PWwZh5E_Bbcj1kcwRifT88cyoCkHz3pgo52Ij4.css */
.pkit-Ji5-mW-divider {
  border: none;
  position: relative;
}
.pkit-Ji5-mW-divider[data-vertical="1"] {
  align-self: stretch;
  width: 2px;
  min-height: 100%;
}
.pkit-Ji5-mW-divider[data-vertical="0"] {
  flex: auto;
  height: 2px;
}
.pkit-Ji5-mW-dash {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* css-modules:css-modules://-wCo_lWDBq2S0j5LRZPfNfR_WqayvNWUWnu6wICugBQ.css */
.pkit-Wc0kTW-progressbarContainer {
  --pk-progressbar-thumb-size: 0;
  --pk-progressbar-track-size: 8px;
  user-select: none;
  touch-action: none;
  cursor: grab;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.pkit-Wc0kTW-progressbarContainer[data-vertical="1"] {
  width: 28px;
  min-height: 100px;
  height: var(--pk-height);
}
.pkit-Wc0kTW-progressbarContainer:not([data-vertical="1"]) {
  width: var(--pk-width);
  height: 28px;
}
.pkit-Wc0kTW-progressbarContainer:hover {
  --pk-progressbar-thumb-size: 20px;
  --pk-progressbar-track-size: 12px;
}
.pkit-Wc0kTW-progressbarContainer[data-ispressed="1"] {
  cursor: grabbing;
  --pk-progressbar-thumb-size: 28px;
  --pk-progressbar-track-size: 12px;
}
.pkit-Wc0kTW-trackStart {
  z-index: 1;
  background-color: var(--pk-white-color);
  border-radius: 8px;
  position: absolute;
}
.pkit-Wc0kTW-trackStart[data-vertical="1"] {
  width: var(--pk-progressbar-track-size);
  height: var(--pk-thumbPosition);
  transition: width .2s;
  bottom: 0;
}
.pkit-Wc0kTW-trackStart:not([data-vertical="1"]) {
  height: var(--pk-progressbar-track-size);
  width: var(--pk-thumbPosition);
  transition: height .2s;
  left: 0;
}
.pkit-Wc0kTW-trackEnd {
  background-color: var(--pk-blue-40-color);
  border-radius: 8px;
  position: absolute;
}
.pkit-Wc0kTW-trackEnd[data-vertical="1"] {
  width: var(--pk-progressbar-track-size);
  transition: width .2s;
  top: 0;
  bottom: 0;
}
.pkit-Wc0kTW-trackEnd:not([data-vertical="1"]) {
  height: var(--pk-progressbar-track-size);
  transition: height .2s;
  left: 0;
  right: 0;
}
.pkit-Wc0kTW-thumb {
  box-sizing: border-box;
  bottom: var(--pk-bottom);
  left: var(--pk-left);
  background-color: var(--pk-white-color);
  height: var(--pk-progressbar-thumb-size);
  width: var(--pk-progressbar-thumb-size);
  border-radius: 50%;
  transition: height .2s, width .2s;
  position: absolute;
  transform: translate3d(-50%, 50%, 0);
}

/* css-modules:css-modules://ZkKehKFtJ3CmS1GZagzPUAqfduy5K1RXSgahDFjlbo8.css */
.pkit-TJFsRq-scrim {
  background-color: #002e4db8;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
@media print {
  .pkit-TJFsRq-scrim {
    position: static;
  }
}

/* css-modules:css-modules://DE6iEJ_ZpNylN6REpKsM8p9rN86qXP8WA90krJ3AQQo.css */
.pkit-m9fpfG-span {
  line-height: 1;
}
.pkit-m9fpfG-tooltipRoot {
  max-width: min(var(--tooltip-max-width, 100%), 1200px);
  max-height: var(--tooltip-max-height, unset);
}
.pkit-m9fpfG-tooltipRoot[data-hidden="1"] {
  visibility: hidden;
  z-index: -1;
}
.pkit-m9fpfG-tooltipRoot[data-hidden="0"] {
  z-index: var(--k-z-tooltip);
}
.pkit-m9fpfG-tooltipContainer {
  box-sizing: border-box;
  max-width: inherit;
  max-height: inherit;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: auto;
}
.pkit-m9fpfG-tooltipContainer:focus {
  outline: 0;
}
.pkit-m9fpfG-tooltip {
  font-size: calc(var(--size-index, 1) * 12px);
  letter-spacing: 0;
  border-radius: calc(4 * var(--size-index, 1) * 1px);
  box-sizing: border-box;
  width: max-content;
  max-width: 100%;
  height: max-content;
  padding: var(--tooltip-padding, calc(4 * var(--size-index, 1) * 1px) calc(12 * var(--size-index, 1) * 1px));
  background-color: var(--tooltip-bg);
  color: var(--tooltip-color);
  line-height: 1.5;
  display: inline-block;
  position: relative;
}

/* css-modules:css-modules://bof0R0KYxZiaz-aTD6A2PTgkidDo0w5S4S_MhfG-TaU.css */
.pkit-cqvMUa-text {
  font-size: calc(var(--size-index, 1) * 16px);
  letter-spacing: .005em;
  min-width: calc(48 * var(--size-index, 1) * 1px);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 0 auto;
  padding: 0;
  font-weight: 900;
  line-height: 1.25;
  overflow: hidden;
}
.pkit-cqvMUa-tabContent {
  max-width: calc(320 * var(--size-index, 1) * 1px);
  padding: calc(12 * var(--size-index, 1) * 1px) calc(24 * var(--size-index, 1) * 1px);
  box-sizing: border-box;
  position: relative;
}
.pkit-cqvMUa-tab {
  z-index: 3;
  user-select: none;
  color: var(--pk-tab-color);
  border: none;
  border-radius: 24px;
  outline: none;
  flex: 0 auto;
  padding: 0;
  font-family:
    LatoWeb,
    LLSMontserrat,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  transition: color .5s linear;
  overflow: hidden;
}
.pkit-cqvMUa-selectedArea {
  background-color: var(--pk-blue-40-color);
  border-radius: 32px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
[data-init="1"] .pkit-cqvMUa-selectedArea {
  display: none;
}
.pkit-cqvMUa-outlineTab {
  z-index: 2;
  border-radius: 24px;
  position: absolute;
  top: 6px;
  bottom: 6px;
  left: 6px;
  right: 6px;
}

/* css-modules:css-modules://eI8oYncpAr1TPk9v2VE_mAUYntYHNLMColx77sZj_KY.css */
.pkit-r2kEta-container {
  color: var(--pk-blue-50-color);
  box-sizing: border-box;
  background-color: var(--pk-blue-20-color);
  border-radius: 32px;
  min-width: 80px;
  max-width: 320px;
  padding: 4px 12px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  display: inline-flex;
}
.pkit-r2kEta-container[data-disabled="1"] {
  background-color: var(--pk-disabled-surface-color);
}
.pkit-r2kEta-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pkit-r2kEta-label[data-disabled="1"] {
  color: var(--pk-disabled-content-color);
}

/* css-modules:css-modules://Q-pRNuKJfH6_pVCTtUauXHfNIbEQpXESjZuHn0lDxMo.css */
.pkit-BtD98G-accordionItemContainer {
  background-color: var(--white-color);
  border-radius: 8px;
  min-width: 320px;
  max-width: 1280px;
  position: relative;
}
.pkit-BtD98G-accordionItemContainer[data-is-open="1"] > div > div > .pkit-BtD98G-toggleIcon {
  transform: rotate(180deg);
}
.pkit-BtD98G-accordionItemContainer:not([data-is-open="1"]) .pkit-BtD98G-content {
  visibility: hidden;
  height: 0;
  margin-top: 0;
  transition: height .3s cubic-bezier(.4, 0, .2, 1);
  overflow: hidden;
}
.pkit-BtD98G-content {
  height: auto;
  transition: height .3s cubic-bezier(.4, 0, .2, 1);
}
.pkit-BtD98G-dash {
  position: absolute;
  top: 12px;
  bottom: 12px;
  left: 12px;
  right: 12px;
}
.pkit-BtD98G-accordionInnerItemContainer {
  border-radius: 4px;
  flex-direction: column;
  padding: 24px;
  display: flex;
}
.pkit-BtD98G-category {
  cursor: pointer;
  border-radius: 4px;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  display: flex;
  position: relative;
}
.pkit-BtD98G-categoryTitle {
  color: var(--pk-text-blue-color);
  margin-right: auto;
  padding-left: 16px;
  font-family:
    LatoWeb,
    LLSMontserrat,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.4;
}
.pkit-BtD98G-itemContainer {
  gap: 8px;
  display: flex;
}

/* css-modules:css-modules://6uADAZ6MPI4Pjio_HsnhQRH5nyJ5pWC0vNwGJaAalY4.css */
.pkit-PSjPIa-itemContainer {
  flex-direction: column;
  display: flex;
}
.pkit-PSjPIa-mainPart {
  justify-content: center;
  align-items: center;
  display: flex;
}
.pkit-PSjPIa-contentElement {
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
  padding: 0 16px;
  display: flex;
}
.pkit-PSjPIa-contentElement:not(:last-child) {
  margin: 3px 0;
}
.pkit-PSjPIa-contentElement:last-child {
  margin-top: 3px;
}
.pkit-PSjPIa-divider {
  margin: 0 16px;
}
.pkit-PSjPIa-title {
  text-align: left;
  margin: 0 8px;
  font-family:
    LatoWeb,
    LLSMontserrat,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.4;
}
.pkit-PSjPIa-title[data-disabled="0"] {
  color: var(--pk-text-blue-color);
}
.pkit-PSjPIa-title[data-disabled="1"] {
  color: var(--pk-disabled-content-color);
}
.pkit-PSjPIa-buttonContainer {
  align-items: center;
  gap: 16px;
  display: flex;
}

/* css-modules:css-modules://BU6otwRRWS_2kmm1nDFTu6EFyLq4lxaWsAbqxDi7Nak.css */
.pkit-42tHZW-cardContainer {
  background-color: var(--pk-white-color);
  --kit-clickable-borderradius: 12px;
  border-radius: 12px;
  justify-content: center;
  align-items: stretch;
  width: fit-content;
  display: flex;
}
.pkit-42tHZW-cardInnerContent {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 400px;
  height: 100%;
  min-height: 112px;
  display: flex;
}
.pkit-42tHZW-imgCard {
  object-fit: cover;
  border-radius: 12px 12px 0 0;
  width: 100%;
}
.pkit-42tHZW-titleContainer {
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  padding: 16px 24px;
  display: flex;
}
.pkit-42tHZW-title {
  color: var(--pk-text-blue-color);
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  text-align: center;
  -webkit-box-orient: vertical;
  font-family:
    LatoWeb,
    LLSMontserrat,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 28px;
  font-weight: 800;
  line-height: 1.42857;
  display: -webkit-box;
  overflow: hidden;
}
.pkit-42tHZW-subtitle {
  color: var(--pk-blue-40-color);
  text-align: center;
  text-overflow: ellipsis;
  font-family:
    LatoWeb,
    LLSMontserrat,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  overflow: hidden;
}

/* css-modules:css-modules://d1GECvAWys30QS7fO5Fb36rwHinwZTodfdO7SW7klGY.css */
.pkit-pjDOGa-sections {
  flex-direction: column;
  gap: 8px;
  display: flex;
}
.pkit-pjDOGa-sectionContent {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.pkit-pjDOGa-checkboxes {
  flex-direction: column;
  gap: 4px;
  padding: 4px 0 0 36px;
  display: flex;
}
.pkit-pjDOGa-checkbox {
  flex: 1;
}

/* css-modules:css-modules://OxuLqEyZqMue0tLl91mTxmE7zwh9q4tHPV5z7N5Mbmo.css */
.pkit-FWMVIW-itemListContainer {
  z-index: var(--pk-z-buttons-list);
  border-radius: 8px;
  display: inline-block;
  position: relative;
  overflow-y: auto;
  box-shadow: 0 2px 6px #072c4d1f;
}
.pkit-FWMVIW-itemList {
  box-sizing: border-box;
  background: var(--pk-white-color);
  --pk-overlay-border-radius: 8px;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  max-width: 320px;
  padding: 12px;
  display: inline-flex;
}
.pkit-FWMVIW-menuItem {
  color: var(--pk-text-blue-color);
  align-items: center;
  padding: 12px;
  display: flex;
}
.pkit-FWMVIW-menuItem[data-disabled="1"] {
  color: var(--pk-disabled-content-color);
  pointer-events: none;
}
.pkit-FWMVIW-menuItemContent {
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 8px;
  font-weight: bold;
  overflow: hidden;
}
.pkit-FWMVIW-listMask {
  width: 100%;
  z-index: var(--pk-z-mask);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}
.pkit-FWMVIW-dash {
  pointer-events: none;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
}

/* css-modules:css-modules://zG1Lwc0gxOveSMc7xKzQ5O3YqgAVC6CHc9lnL7gqjg0.css */
.pkit-VMYxoG-itemListContainer {
  z-index: var(--pk-z-buttons-list);
  border-radius: 8px;
  display: inline-block;
  position: relative;
  overflow-y: auto;
}
.pkit-VMYxoG-itemList {
  box-sizing: border-box;
  background: var(--pk-white-color);
  --pk-overlay-border-radius: 8px;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  max-width: 320px;
  padding: 12px;
  display: inline-flex;
}
.pkit-VMYxoG-menuItem {
  color: var(--pk-text-blue-color);
  align-items: center;
  padding: 12px;
  display: flex;
}
.pkit-VMYxoG-menuItem[data-disabled="1"] {
  color: var(--pk-disabled-content-color);
  pointer-events: none;
}
.pkit-VMYxoG-menuItemContent {
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 8px;
  font-weight: bold;
  overflow: hidden;
}
.pkit-VMYxoG-listMask {
  width: 100%;
  z-index: var(--pk-z-mask);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}
.pkit-VMYxoG-dash {
  pointer-events: none;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
}

/* css-modules:css-modules://rzk9nFVLPfQxVe2sxmH-nwQTOMNQXc6SsL00uSNuiq0.css */
.pkit-ymghua-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: var(--z-scrim);
  flex-direction: column;
  flex: 1 0 0;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  padding: 24px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}
.pkit-ymghua-modalContainer {
  box-sizing: border-box;
  background-color: var(--pk-blue-10-color);
  min-width: 336px;
  max-width: 100%;
  max-height: 100%;
  transition: transform var(--pk-modal-animation-duration) ease, opacity var(--pk-modal-animation-duration) ease;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  display: flex;
  position: relative;
}
.pkit-ymghua-modalContainer[data-is-fullscreen="0"] {
  border-radius: 32px;
  padding: 12px 16px;
}
.pkit-ymghua-modalContainer[data-is-fullscreen="1"] {
  width: 100%;
  height: 100%;
}
.pkit-ymghua-modalContainer[data-fullwidth="1"] {
  width: 100%;
}
.pkit-ymghua-modalContainer[data-fullheight="1"] {
  height: 100%;
}
.pkit-ymghua-modalContainer[data-open="1"] {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.pkit-ymghua-modalContainer[data-open="0"] {
  opacity: 0;
  transform: translate3d(0, 60px, 0);
}
.pkit-ymghua-modalHeader {
  color: var(--pk-blue-50-color);
  align-self: stretch;
  gap: 24px;
  display: flex;
}
.pkit-ymghua-modalHeader[data-is-fullscreen="1"] {
  z-index: calc(var(--z-scrim) + 1);
  position: relative;
}
.pkit-ymghua-modalBody {
  max-width: 100%;
}
.pkit-ymghua-modalTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: auto;
  font-family:
    LatoWeb,
    LLSMontserrat,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  overflow: hidden;
}
.pkit-ymghua-scrim {
  transition: opacity var(--pk-modal-animation-duration) ease;
}
.pkit-ymghua-scrim[data-open="1"] {
  opacity: 1;
}
.pkit-ymghua-scrim[data-open="0"] {
  opacity: 0;
}
.pkit-ymghua-headerTitle {
  flex: 1;
  align-items: center;
  gap: 8px;
  min-width: 0;
  display: flex;
}
.pkit-ymghua-headerButtons {
  flex-shrink: 0;
}

/* css-modules:css-modules://v2wPq_T-kwjDKdJY7gRUrnxdpJIH3UZ7hxcNTzi6qVg.css */
.pkit-DFUOmq-container {
  justify-content: center;
  max-width: 100%;
  display: flex;
  overflow: hidden;
}
.pkit-DFUOmq-container[data-is-scrollable=true] {
  background-color: var(--white-color);
  border-right: solid 2px var(--white-color);
  border-left: solid 2px var(--white-color);
  border-radius: 64px;
}
.pkit-DFUOmq-scrollableNode {
  white-space: nowrap;
  overflow: auto hidden;
}
.pkit-DFUOmq-tabs {
  white-space: nowrap;
  --animation-ripple-after-active-transition: ;
  background-color: var(--white-color);
  border-radius: 64px;
  gap: 8px;
  padding: 4px;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}
.pkit-DFUOmq-tabs[data-is-scrollable=true] {
  border-radius: 0;
}
.pkit-DFUOmq-selectedArea {
  top: -4px;
  left: var(--pk-tab-left);
  width: var(--pk-tab-size);
  z-index: 1;
  background-color: var(--pk-blue-40-color);
  border-radius: 32px;
  height: calc(100% - 8px);
  margin: 8px 0;
  position: absolute;
}
[data-init="0"] .pkit-DFUOmq-selectedArea {
  visibility: hidden;
}
[data-init="1"] .pkit-DFUOmq-selectedArea {
  transition: left var(--pk-tabs-transition-duration), width var(--pk-tabs-transition-duration);
}
.pkit-DFUOmq-outlineTab {
  z-index: 2;
  border-radius: 24px;
  position: absolute;
  top: 6px;
  bottom: 6px;
  left: 6px;
  right: 6px;
}

/* css-modules:css-modules://LzBv0aFdbVMfaVMPEy4Jl_ZISwx7EvFjdXZZHn707sY.css */
.pkit-HIYN9a-toggle {
  --pk-button-toggle-transition: .2s;
  --pk-button-toggle-height: 48px;
  --pk-button-toggle-width: 96px;
  --pk-overlay-size: 64px;
  --pk-overlay-offset: 8px;
  cursor: pointer;
  border-radius: var(--pk-button-toggle-height);
  width: var(--pk-button-toggle-width);
  height: var(--pk-button-toggle-height);
  box-sizing: border-box;
  background-color: var(--pk-blue-40-color);
  justify-content: space-between;
  align-items: center;
  display: inline-block;
  position: relative;
}
.pkit-HIYN9a-toggle[data-isactive="0"] .pkit-HIYN9a-overlayContainer {
  margin-left: calc(-1 * var(--pk-overlay-offset));
}
.pkit-HIYN9a-toggle[data-isactive="0"] .pkit-HIYN9a-toggleIndicator {
  left: 0;
}
.pkit-HIYN9a-toggle[data-isactive="1"] .pkit-HIYN9a-overlayContainer {
  margin-left: calc(100% + var(--pk-overlay-offset));
  transform: translate3d(-100%, 0, 0);
}
.pkit-HIYN9a-toggle[data-isactive="1"] .pkit-HIYN9a-toggleIndicator {
  left: 100%;
  transform: translate3d(-100%, 0, 0);
}
.pkit-HIYN9a-overlayContainer {
  width: var(--pk-overlay-size);
  height: var(--pk-overlay-size);
  border-radius: var(--pk-overlay-size);
  transition: margin-left var(--pk-button-toggle-transition) ease-in-out, transform var(--pk-button-toggle-transition) ease-in-out;
  margin-top: calc(-1 * var(--pk-overlay-offset));
  box-sizing: border-box;
  overflow: hidden;
}
.pkit-HIYN9a-overlaySubContainer {
  padding: var(--pk-overlay-offset);
  width: var(--pk-overlay-size);
  height: var(--pk-overlay-size);
  box-sizing: border-box;
}
.pkit-HIYN9a-toggleIndicator {
  border-radius: var(--pk-button-toggle-height);
  width: var(--pk-button-toggle-height);
  height: var(--pk-button-toggle-height);
  background-color: var(--pk-white-color);
  transition: left var(--pk-button-toggle-transition) ease-in-out, transform var(--pk-button-toggle-transition) ease-in-out;
  position: absolute;
  top: 0;
}
.pkit-HIYN9a-dashes {
  border: 1px dashed var(--pk-blue-50-color);
  border-radius: 50%;
  position: absolute;
  top: 12px;
  bottom: 12px;
  left: 12px;
  right: 12px;
}
.pkit-HIYN9a-icon {
  color: var(--pk-white-color);
  transition: color var(--pk-button-toggle-transition) ease-in-out;
  z-index: 1;
  position: absolute;
  top: 12px;
  left: 12px;
}
.pkit-HIYN9a-icon + .pkit-HIYN9a-icon {
  left: unset;
  right: 12px;
}
.pkit-HIYN9a-icon[data-active="1"] {
  color: var(--pk-blue-50-color);
}

/* css-modules:css-modules://3C-1Ipm0xj4m08aVTvym0nGhMKg5ZmCgwYrfR_7CROw.css */
.pkit-YopwKW-mainContainer {
  align-items: center;
  gap: 16px;
  width: 100%;
  display: flex;
}
.pkit-YopwKW-volumeContainer {
  position: relative;
}
.pkit-YopwKW-timeDisplay {
  font-family:
    LatoWeb,
    LLSMontserrat,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 20px;
  line-height: 1.4;
}
.pkit-YopwKW-timeDisplay[data-theme=blue] {
  color: var(--pk-blue-50-color);
}
.pkit-YopwKW-timeDisplay[data-theme=white] {
  color: #fff;
}
.pkit-YopwKW-timeProgressBar {
  flex: auto;
}
.pkit-YopwKW-progressBarVolume {
  background-color: var(--pk-blue-30-color);
  z-index: var(--z-primary-player-volume);
  border-radius: 999px;
  padding: 8px 0;
  position: absolute;
  top: -128px;
  left: calc(50% - 14px);
}
.pkit-YopwKW-duration {
  color: var(--pk-text-blue-color);
  font-family:
    LatoWeb,
    LLSMontserrat,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 20px;
  line-height: 1.4;
}

/* css-modules:css-modules://GKMdrQKjX9c63VZoEwhtXu3tR5-wkzHCpbt2zHUpi8Y.css */
.pkit-L9xcVq-playerWrapper {
  background-color: var(--pk-blue-20-color);
  border-radius: 48px;
  width: fit-content;
  min-width: 600px;
  max-width: 800px;
  padding: 24px;
  position: relative;
}
.pkit-L9xcVq-dash {
  position: absolute;
  top: 16px;
  bottom: 16px;
  left: 16px;
  right: 16px;
}

/* css-modules:css-modules://9yvk9GgqYR3OqgdM_BD2EaQ_3Z3HHAT7h5eI7KO_OyY.css */
@keyframes pkit-dHyDIa-circular-progress-bar-spin {
  0% {
    transform-origin: center;
    transform: rotate(0);
  }
  100% {
    transform-origin: center;
    transform: rotate(360deg);
  }
}
.pkit-dHyDIa-circularProgressBarSvg {
  transform: rotate(-90deg);
}
.pkit-dHyDIa-progressBarContainer {
  width: var(--k-width);
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.pkit-dHyDIa-progressBarContainer[data-variant=determinate] .pkit-dHyDIa-circularProgressBarTrack {
  transition: all .3s;
}
.pkit-dHyDIa-progressBarContainer[data-variant=determinate] .pkit-dHyDIa-circularProgressBarProgress {
  transition: all .3s;
}
.pkit-dHyDIa-progressBarContainer[data-variant=indeterminate] .pkit-dHyDIa-circularProgressBarProgress {
  animation: 1s linear infinite pkit-dHyDIa-circular-progress-bar-spin;
}
.pkit-dHyDIa-progressBarPercent {
  color: inherit;
  text-align: center;
  width: var(--k-width);
  height: var(--k-height);
  font-weight: bold;
  font-size: var(--k-fontSize);
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

/* css-modules:css-modules://MuXDtuW1qN8FDBXL5OEt2arbnj6tG4WGZ0htGL_3EYg.css */
.pkit-bQKdMq-backdrop {
  position: var(--k-loader-position, fixed);
  z-index: var(--k-z-backdrop);
  background-color: #00000080;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* css-modules:css-modules://6JDOgHc8y3ilGoJP9dXwMStuI8y3mUZqZx3ISGq-54Q.css */
.pkit-LbRyEG-loader {
  --k-loader-position: absolute;
}
.pkit-LbRyEG-container {
  box-sizing: border-box;
  position: relative;
}
.pkit-LbRyEG-container[data-is-fullscreen="0"] {
  background: var(--pk-blue-20-color);
  border: 16px solid var(--pk-blue-20-color);
  border-radius: 48px;
}
.pkit-LbRyEG-poster {
  background-color: var(--pk-blue-10-color);
  border-radius: 32px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}
.pkit-LbRyEG-video {
  object-fit: contain;
  background-color: #000;
  border-radius: 32px;
  max-width: 100%;
  height: 100%;
}
.pkit-LbRyEG-controls {
  align-items: center;
  transition: opacity .3s ease-in-out;
  position: absolute;
}
.pkit-LbRyEG-controls[data-shown="1"] {
  display: flex;
}
.pkit-LbRyEG-controls[data-shown="0"] {
  display: none;
}
.pkit-LbRyEG-controls[data-is-fullscreen="0"] {
  background-color: #0000;
  border-radius: 8px;
  width: calc(100% + 32px);
  bottom: -16px;
  left: -16px;
  right: -16px;
}
.pkit-LbRyEG-controls[data-is-fullscreen="1"] {
  background-color: var(--pk-blue-50-color);
  width: calc(100% - 48px);
  padding: 24px;
  bottom: 0;
  left: 0;
  right: 0;
}
.pkit-LbRyEG-controls[data-isopen="1"] {
  opacity: 1;
}
.pkit-LbRyEG-controls[data-isopen="1"][data-is-fullscreen="1"] {
  opacity: .8;
}
.pkit-LbRyEG-controls:not([data-isopen="1"]) {
  opacity: 0;
}
.pkit-LbRyEG-icon {
  color: var(--error-color);
  margin-right: calc(8 * var(--size-index, 1) * 1px);
}
.pkit-LbRyEG-error {
  color: var(--error-color);
}
.pkit-LbRyEG-playerWrapper {
  width: 100%;
  position: relative;
}
.pkit-LbRyEG-playerWrapper[data-is-fullscreen="0"] {
  background-color: var(--pk-blue-20-color);
  border-radius: 48px;
  padding: 24px;
}
.pkit-LbRyEG-dash {
  position: absolute;
  top: 16px;
  bottom: 16px;
  left: 16px;
  right: 16px;
}
